@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
ORDER OF MEDIA QUERIES:
base + typography > general layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
    /*
    in media queries 1em regardles of what is set is defined by
    web browser font size!!!
    */
    @if $breakpoint == phone {
        //600px
        @media only screen and (max-width: 37.5em) { @content };
    }

    @if $breakpoint == tablet-portrait {
        //900px
        @media only screen and (max-width: 56.25em) { @content };
    }

    @if $breakpoint == tablet-landscape {
        //1200px
        @media only screen and (max-width: 75em) { @content };
    }

    @if $breakpoint == desktop-big {
        //1800px
        @media only screen and (min-width: 112.5em) { @content };
    }
}